.all-products{
    border: 1px solid;
}

 .delete-btn{
    font-size: 30px;
    
}

.all-products h6{
   line-height: 10px;
} 


.all-img{
    height: 50px;
    width: 80px;
    margin-left: 0;
    padding-left: 0;
}
.btn{
    margin-right: 10px;
    border: 0;
    background-color: green;
    height: 40px;

    

}